<section class="section-swiper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-6" style="background-color:wheat; height: 600px;">
            </div>
            <div class="col-6 swiper-part">
                <p>New Product Set</p>
                <div #swiperContainer class="swiper-container">
                    <div class="swiper-wrapper">
                      <!-- Add your slides here -->
                      <div class="swiper-slide" style="background-color: cadetblue;">Slide 1</div>
                      <div class="swiper-slide" style="background-color: darkgoldenrod">Slide 2</div>
                      <div class="swiper-slide" style="background-color: violet;">Slide 3</div>
                      <div class="swiper-slide" style="background-color: tomato;">Slide 4</div>
                      <div class="swiper-slide" style="background-color: palegreen;">Slide 5</div>
                    </div>
                    <div class="swiper-scrollbar"></div>
                </div>  
            </div>
        </div>
    </div>
</section>

<section class="section-swiper">
    <div class="container-fluid">
        <div class="wrapper">
            <div class="left-column" style="background-color:rgb(179, 245, 240); height: 600px;">
            </div>
            <div class="right-column">
                <p>New Product Set</p>
                <div #swiperContainer2 class="swiper-container">
                    <div class="swiper-wrapper">
                      <!-- Add your slides here -->
                      <div class="swiper-slide" style="background-color: cadetblue;">Slide 1</div>
                      <div class="swiper-slide" style="background-color: darkgoldenrod">Slide 2</div>
                      <div class="swiper-slide" style="background-color: violet;">Slide 3</div>
                      <div class="swiper-slide" style="background-color: tomato;">Slide 4</div>
                      <div class="swiper-slide" style="background-color: palegreen;">Slide 5</div>
                    </div>
                    <div class="swiper-scrollbar"></div>
                </div>  
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container-fluid" style="background-color: cornsilk; height: 600px;">
    </div>
</section>
